@media (max-width: 992px) {
#Header .fa-shopping-bag {
    color: orange;
}

#Banner .Banner-Text {
    /* margin-left: 20%; */
    margin-top: 10%;
}
/* Bisa memakai (ml-1) untuk menggeser tulisan atau margin */

#Banner .Banner-Text h6 {
    font-size: 25px;
    font-weight: 200;
    color: #ec982e;
}

.Banner-Text h1{
    font-size: 35px;
    font-weight: bold;
}

.Banner-Text h1 span{
    font-size: 35px;
    font-weight: lighter;
}

#Banner .Banner-Text .btn-success,
#Banner .Banner-Text .btn-light{
    border-radius: 50px;
}

#Banner .Banner-Text h1{
    font-size: 35px;
    font-weight: bolder;
}

#Banner .Banner-Text span{
    font-size: 35px;
    font-weight: 100px;
}

/* Carosel */
#Banner .d-flex img{
    width: 240px;
    height: auto;
}

#LandingPage .judul-menu h2{
    font-size: 35px;
}

#Carousel .fa-arrow-circle-left{
    font-size: 30px;
    color: #EC982E;
}
#Carousel .fa-arrow-circle-right{
    font-size: 30px;
    color: #EC982E;
}

/* #Carousel .carousel-inner{
    margin-: 4px;
} */

#Carousel {
    margin-top: 10px;
}

#Carousel .carousel-indicators li{
    width: 5px;
    height:4px;
    border-radius: 100%;
    padding-top: 1%;
    margin-top: 50px;
   
}

#Carousel .carousel-control-prev{
    justify-content: start;
    margin-left: -2%;
    width: 5px;
    margin-top: 50px;
    height: 15px;
}

#Carousel .carousel-control-next{
    justify-content: end;
    margin-right: -2%;
    width: 15px;
    margin-top: 50px;
    height: 15px;
}

/* #Carousel .carousel-control-prev,
.carousel-control-next{
    color: EC982E;
} */

#LandingPage .fa-eye{
    color: #EC982E;
}

#LandingPage .judul-menu h3{
    font-size: 18px;
}

/* #Product  .productt{ */
    /* padding: 8%; */
/* } */

/* #Product .card-body{
    margin-top: 25%;
} */
#Product .card-text{
    color: orange;
}

#Product .card .btn-primary{
    background-color: orange;
    border: none;
    border-radius: 50px;
    width: 180px;
    height: autopx;

}



#Product .card{
    width: 225px;
    height: 480px;
    box-shadow: 0px 1px 4px;
    border-radius: 8%;
    margin-top: 25px;
}

#Footer {
    margin-top: 45px;
    margin-bottom: 25px;
}

#Footer .copyright{
    border: 1px solid #f38aaa;
    background-color: #f38aaa ;
    font-size: 15px;
    font-weight: 300px;
}

#Footer .copyright p{
    margin-top: 16px;
}

/* List Product */

#Danil .navbar-nav p {
    color: rgba(0, 0, 0, 0.816);
}

#Danil .navbar-nav i {
    color: orange;
}

/* Breadcrumb */
#Breadcrumb .breadcrumb a{
    color: black;
}

#Breadcrumb .breadcrumb{
    background-color: white;
}

#Breadcrumb .breadcrumb i{
    color: orange;
}

/* ProductDetail */
/* #Carousel2 .carousel slide{
    width: 25%;
} */
#Carousel2 .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#Carousel2 .carousel-control-prev{
    justify-content: start;
    margin-left: -3%;
}

#Carousel2 .carousel-control-next{
    justify-content: end;
    margin-right: -3%;
}
#Carousel2 .fa-arrow-circle-left,
        .fa-arrow-circle-right{
    font-size: 40px;
    color: #EC982E;
        }

#Carousel2 input {
    width: 18%;
}

#ProductDetail h1 {
    font-size: 25px;
}

#ProductDetail .judul-menu .col-lg-6 i {
    color: orange;
}

#ProductDetail h3{
    font-size: 18px;
}



/* Keranjang */
#Keranjang .table img{
    width: 170px;
    height: 157px;
}

/* #Keranjang .table h1{
    text-align: right;
} */
#Harga .container h5{
    text-align: right;
}

#Harga .btn-primary{
    margin-left: -80px;
}
#Harga .col-auto .form-control{
    width: 35%;
}

/* #Harga .btn-primary{
    justify-content: end;
} */

#Harga .col-lg-2{
    width: 35px;
    height: 20px;
    border-radius: 25px;
}

#Succes .success-img{
    width: 292px;
    height: 324px;
    object-fit: cover;
}

#Succes .text-ucapan{
    color: orange;
}

#Succes .btn-primary{
    border: none;
}

}